/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

:root {
  --light-grey: #d3d3d3;
  --darker-grey: #778899;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

 body {
  font-family: 'Roboto', sans-serif;
 }

 .container {
  margin: auto;
  width: 100%;
  display: inline-block;
 }

 header {
  height: 300px;
  margin: auto;
 }

 .header-container {
  background-image: url("Grey-Chevron-Wallpaper-13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

 .header-content {
  text-align: center;
  font-family: 'Abril+Fatface', cursive;
  font-size: 100px;
  margin: none auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 }

 .cart-element {
  float: right;
 }

 /* grid */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
  width: 100%;
}

@media all and ( min-width: 600px ) {
  .col-1-1 { width: 100%; }
  .col-2-3 { width: 66.66%; }
  .col-1-2 { width: 50%; }
  .col-1-3 { width: 33.33%; }
  .col-1-4 { width: 25%; }
  .col-1-8 { width: 12.5%; }
}

@media all and (max-width: 600px) {
  .header-content { font-size: 75px; }
  .product { width: 33.33%; }
}

@media all and (max-width: 350px) {
  .header-content { font-size: 50px; }
  .product { width: 50%;}
}

#marketing-header {
  text-align: center;
  margin: auto;
}

.products-topbar {
  text-align: center;
  border-top: double var(--darker-grey);
  border-bottom: double var(--darker-grey);
  margin: 5px auto;
}

.product-index {
  text-align: center;
  margin: 0 auto;
}

.product {
  width: 20%;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin: 7px 5px;
}

.product ul {
  list-style: none;
}

.product-img {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.products-pagination {
  /*text-align: center;*/
  margin-top: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  background-color: white;
  font-size: 15px;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  min-width: 115px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
}

.product-container {
  width: 960px;
  margin: auto 20%;
}

.product-details {
  text-align: center;
}

.product-description {
  margin: 100px 25px;
}

#empty-cart {
  border: 5px solid var(--darker-grey);
  background-color: var(--light-grey);
  height: auto;
  text-align: center;
}

.cart {
  text-align: left;
}

.cart-products {
  width: 85%;
  margin: auto;
  text-align: center;
}

.simple-table {
  border: 2px solid var(--darker-grey);
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  /*margin: 0 auto;*/
}

.simple-table th {
  background-color: var(--light-grey);
  border-bottom: 4px solid var(--darker-grey);
}

.quantity-input {
  max-width: 40px;
  text-align: center;
}

.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
}

.order-form {
  margin: auto;
  float: left
}

.submit-order {
  display: inline-block;
  text-align: center;
}

.user-input {
  margin: 5px;
  height: 40px;
  width: 100%;
  max-width: 414px;
}

.reply-comment {
  display: none;
  position: absolute;
  z-index: 1;
}

.error {
  color: red;
}

.comment-box {
  float: right;
  list-style: none;
  width: 80%;
}

.comment { 
  width: 90%;
  height: 50px;
  float: left;
  margin: 4px;
  background-color: var(--light-grey);
  border-radius: 15px
 }

 .comment p {
  vertical-align: middle;
  margin-left: 10px;
 }

 .order-completed {
  margin: auto;
  background-color: var(--light-grey);
  border: dotted var(--darker-grey);
 }

 .kp-shp-btn {
  margin-top: 30px;
  text-align: center;
 }

.show {  display: block; }

 #logout-link {
  position: absolute; 
  bottom: 0;
 }
